NODE_ENV=development
HOST=127.0.0.1
PORT=5006
LOG_LEVEL=error
DATA_DIR=data
DB_INMEM=false
DB_URL=
NODE_SERVER_BASE_URL=http://127.0.0.1:5000/
DEVELOPER_PORTAL_SERVICE_ENDPOINT=http://127.0.0.1:5006/
HS_AUTH_SERVER_SCHEMA=sch_3008d429-47fa-41fb-a2b0-6d9c294553d2